pre,table {
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #99EE99;
    padding: 10px;
    margin: 10px;
    margin-bottom: 24px;
    white-space: normal;
    font-size: larger;
    -webkit-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 
    -ms-transition: all 0.5s ease-in-out;
}
pre:hover,table:hover {
    background-color: #77DD77;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
}
td {
    font-size: smaller;
    font-family: monospace;
}
p {
    text-align: justify;
}
